<% content_for :title do %>
Home
<% end %>

<div class="body-container">
    <h1 class="cover-heading">Blood Donation</h1>
    <p class="lead">
        summary here summary here
    </p>
    <p class="lead">
        <%= link_to "Learn More", about_path,  {class: "btn btn-lg btn-default"} %>
    </p>
</div>

