<% provide(:title, 'Donor | Edit') %>

<div class="body-container">
  <h1>Edit Info</h1>
  <%= render 'form' %>
  <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to 'Back', blood_donors_path %>
