<% provide(:title, "Donor | New") %>

<div class="body-container">
  <h1>New Blood Donor</h1>  
  <%= render 'form' %>
  <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to 'Back', blood_donors_path %>
