<% provide(:title, 'User | New') %>

<div class="body-container">
  <h1>New User</h1>
 
  <%= render 'form' %>

  <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to 'Back', users_path %>